<!-- it will list all schedules  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            <% for (let i=0; i < users.length; i++) {%>
                <tr>
                    <td>
                        <%=users[i].firstname%>
                    </td>
                    <td>
                        <%=users[i].lastname%>
                    </td>
                    <td>
                        <%=users[i].email%>
                    </td>
                    <td>
                        <%=users[i].password%>
                    </td>
                </tr>
                <%}%>
        </table>
    </main>
</body>

</html>