<!-- it will list a employee info and its schedules -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="background">
        <header>
            <%- include('../partials/header') %>
        </header>
        <main class="w-100 d-flex flex-column align-items-center justify-content-center">

            <table class="w-75 shadow-lg rounded-borders bg-white">
                <tr class="p-3 text-center text-white bg-dark">
                    <th class="p-3 label-spacing round-top-left">FIRSTNAME</th>
                    <th class="p-3 label-spacing">LASTNAME</th>
                    <th class="p-3 label-spacing round-top-right">EMAIL</th>
                </tr>

                <% for ( let i=0; i < 1 ; i++){ %>
                    <tr>
                        <td>
                            <%= data[i].firstname %>
                        </td>
                        <td>
                            <%= data[i].lastname %>
                        </td>
                        <td>
                            <%= data[i].email %>
                        </td>
                    </tr>
                <% } %>
            </table>

            <table class="w-75 shadow-lg rounded-borders bg-white employee-table">
                <tr class="p-3 text-center text-white bg-dark">
                    <th class="p-3 label-spacing round-top-left">DAY</th>
                    <th class="p-3 label-spacing">START AT</th>
                    <th class="p-3 label-spacing round-top-right">END AT</th>
                </tr>
                <% for (let i=0; i < data.length; i++) {%>
                    <tr>
                        <td>
                            <%=data[i].day%>
                        </td>
                        <td>
                            <%=data[i].start_at%>
                        </td>
                        <td>
                            <%=data[i].end_at%>
                        </td>
                    </tr>
                <%}%>
            </table>

        </main>
</body>

</html>