<!-- it will list all schedules  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="background">
        <header>
            <%- include('../partials/header') %>
        </header>
        <main class="w100">
            <div class="container h-100">
                <div class="row h-100">
                    <table class="col-md-auto my-auto mx-auto shadow-lg rounded-borders bg-white">
                        <tr class="p-3 text-center text-white bg-dark">
                            <th class="p-3 label-spacing round-top-left">USER ID</th>
                            <th class="p-3 label-spacing">FIRST NAME</th>
                            <th class="p-3 label-spacing">LAST NAME</th>
                            <th class="p-3 label-spacing">DAY</th>
                            <th class="p-3 label-spacing">START AT</th>
                            <th class="p-3 label-spacing round-top-right">END AT</th>
                        </tr>
                        <% for (let i=0; i < schedules.length; i++) {%>
                            <tr>
                                <td>
                                    <%=schedules[i].id%>
                                </td>
                                <td>
                                    <a href=<%=`/employee/${schedules[i].id}`%>><strong><%=schedules[i].firstname%></strong></a>
                                </td>
                                <td>
                                    <a href=<%=`/employee/${schedules[i].id}`%>><strong><%=schedules[i].lastname%></strong></a>
                                </td>
                                <td>
                                    <%=schedules[i].day%>
                                </td>
                                <td>
                                    <%=schedules[i].start_at%>
                                </td>
                                <td>
                                    <%=schedules[i].end_at%>
                                </td>
                            </tr>
                            <%}%>
                    </table>
                </div>
            </div>
        </main>
</body>

</html>